*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.mynavbar{
  height: 100px;
  padding-bottom: 6vh;
  width: 100%;
  padding: 1rem 3rem;
  background-color: rgb(26, 4, 4);
  img{
    height: 80px;
  }
  position: fixed;
  top: 0;
  z-index: 2;
  /* margin-bottom: 3vh; */
}
.mybanner{
   min-height: 100vh;
  /* max-height: 140vh;  */
  width: 100% !important;
  margin-top: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 7vh;
}
.mybannercard{
  padding-top: 40vh;
  padding-left: 3rem;
}

.moviecards{
  border: 2px solid red;
  
}
.moviecards:hover{
  transform: scale(1.1, 1.1);
  border: 2px solid green;
}

.moviecardsb{
  border: 4px solid rgb(213, 13, 167);
  
}
.moviecardsb:hover{
  transform: scale(1.1, 1.1);
  border: 4px solid rgb(6, 11, 105);
}